!!!5

%html
  %head
    %title Roomtrol Web
    slinky_styles
    slinky_scripts

  %body
    #top-bar
      #tab-bar
        %ul
          %li#control-button.tab-button.selected 
            %a.label{:href => "#"} control
          %li#monitor-button.tab-button
            %a.label{:href => "#"} monitor
          %li#configure-button.tab-button
            %a.label{:href => "#"} configure
    #main-view
    
