@import 'mixins'

$tab-bar-height: 72px

body
  font-family: Helvetica, Arial

div, img, p
  +user-select(none)

a
  color: black
  text-decoration: none

#tab-bar
  background-image: url('/images/header.png')
  background-repeat: no-repeat
  background-position: 98% 50%
  background-color: #333
  +fill-width($tab-bar-height)

  li.tab-button
    font-size: 2.8em
    line-height: 40px
    display: block
    float: left
    height: 31px
    padding: 20px
    padding-top: 5px
    a
      color: white
    &.selected
      a
        color: black

  #control-button.selected
    background-color: #EFEBE3
  
  #monitor-button.selected
    background-color: white

  #monitor-button.selected
    background-color: #C1D699

#main-view
  position: absolute
  top: $tab-bar-height
  left: 0
  right: 0
  bottom: 0

.room-list
  +fill-height(300px)
  background-color: #EFEBE3

  ul
    padding: 0
    width: 100%
    list-style: none

    li
      font-weight: bold
      font-size: 24px
      text-align: left
      padding-left: 20px
      padding-bottom: 10px

      ul li
        display: block
        font-size: 16px
        //margin-left: 100px
        padding-left: 40px
        padding-bottom: 0
        width: 100%
        &.selected
          background-color: white

        a
          line-height: 18px
          padding: 10px
          display: block

