@import ../../../shared/mixins.sass

@-webkit-keyframes 'record-pulse'
	from
		opacity: 0
	50%
		opacity: 0.6
	to
		opacity: 0


.video-module
	background: sc_static("grain.png"), #2D2D2D
	
	.sc-view.sc-label-view.sc-regular-size.title
		font-family: 'Myriad Pro', Helvetica
		font-size: 37px
		line-height: 38px
		color: #D3D3D3
		+text-inset(#000000)


.pan-button
	position: absolute
	width: 157px
	height: 157px
	top: 150px
	left: 222px
	background-image: sc_static("pan.png")
	background-position-x: 50%
	background-position-y: 0px
	z-index: 62
	&.right
		background-position-y: -170px
	&.down
		background-position-y: -340px
	&.left
		background-position-y: -510px
	&.up
		background-position-y: -680px

.zoom-control
	background:
		image: sc_static("zoom_bg.png")
		repeat: no-repeat
		position-x: 24%
		position-y: 0
	.zoom-slider
		-webkit-transition-property: background-position-y
		-webkit-transition-duration: 0.25
		background:
			image: sc_static("zoom_handle.png")
			repeat: no-repeat
			position-x: 50%
			position-y: 50%
			
.record-control
	.record-button .control-button
		width: 87px
		height: 87px
		background: sc_static('button-top.png') no-repeat, -moz-radial-gradient(center 45deg, circle closest-corner, #ED2824 0%, #C1282D 100%)
		background: sc_static('button-top.png') no-repeat, -webkit-gradient(radial, center center, 0, center center, 70, from(#ED2824), to(#C1282D))
		border:
			radius: 50px
			color: #989898
			width: 1px
			style: solid
		+box-shadow(0 1px 6px #010101)	
		&:active 
			background: -moz-radial-gradient(center 45deg, circle closest-corner, #883035 0%, #B82CDF 100%)
			background: -webkit-gradient(radial, center center, 0, center center, 70, from(#883035), to(#B82C2F))
		&.recording
			.highlight
				opacity: 0
				background-color: black
				+fill-parent
				width: 90px
				height: 90px
				border-radius: 50px
				-webkit-animation-name: record-pulse
				-moz-animation-name: pulse
				-webkit-animation-duration: 3s
				-moz-animation-duration: 3s
				-webkit-animation-iteration-count: infinite
				-moz-animation-iteration-count: infinite

.video-window
	+box-shadow(0 0 5px #000 inset)

.timecode-counter
	background: #92A091
	border:
		radius: 10px
		color: #3D3D3D
		width: 1px
	+box-shadow(0 0 5px #000 inset)
	.sc-view.sc-label-view.sc-regular-size
		font-family: Helvetica, Arial
		font-size: 48px
		color: black
		+text-inset
		text-align: center
		line-height: 80px
