.video-module {
  background: sc_static("grain.png"), #2d2d2d; }
  .video-module .sc-view.sc-label-view.sc-regular-size.title {
    font-family: "Myriad Pro", Helvetica;
    font-size: 37px;
    line-height: 38px;
    color: #d3d3d3;
    text-shadow: 0px 1px 0px black; }

.pan-button {
  position: absolute;
  width: 157px;
  height: 157px;
  top: 150px;
  left: 222px;
  background-image: sc_static("pan.png");
  background-position-x: 50%;
  background-position-y: 0px;
  z-index: 62; }
  .pan-button.right {
    background-position-y: -170px; }
  .pan-button.down {
    background-position-y: -340px; }
  .pan-button.left {
    background-position-y: -510px; }
  .pan-button.up {
    background-position-y: -680px; }

.zoom-control {
  background-image: sc_static("zoom_bg.png");
  background-repeat: no-repeat;
  background-position-x: 24%;
  background-position-y: 0; }
  .zoom-control .zoom-slider {
    -webkit-transition-property: background-position-y;
    -webkit-transition-duration: 0.25;
    background-image: sc_static("zoom_handle.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%; }

.record-control .record-button .control-button {
  width: 87px;
  height: 87px;
  background: sc_static("button-top.png") no-repeat, -moz-radial-gradient(center 45deg, circle closest-corner, #ed2824 0%, #c1282d 100%);
  background: sc_static("button-top.png") no-repeat, -webkit-gradient(radial, center center, 0, center center, 70, from(#ed2824), to(#c1282d));
  border-radius: 50px;
  border-color: #989898;
  border-width: 1px;
  border-style: solid;
  -moz-box-shadow: 0 1px 6px #010101;
  -webkit-box-shadow: 0 1px 6px #010101;
  box-shadow: 0 1px 6px #010101; }

.timecode-counter {
  background: #92a091;
  border-radius: 10px;
  border-color: #3d3d3d;
  border-width: 1px;
  border-style: solid;
  -moz-box-shadow: 0 0 5px black inset;
  -webkit-box-shadow: 0 0 5px black inset;
  box-shadow: 0 0 5px black inset; }
