html.lt-640 .video-module {
  background: sc_static("grain.png"), #2d2d2d; }
  html.lt-640 .video-module .sc-view.sc-label-view.sc-regular-size.title {
    font-family: "Myriad Pro", Helvetica;
    font-size: 50px;
    line-height: 38px;
    color: #d3d3d3;
    text-shadow: 0px 1px 0px black; }
  html.lt-640 .video-module .controls {
    width: 100% !important; }
html.lt-640 .pan-controls {
  display: none; }
html.lt-640 .zoom-controls {
  display: none; }
html.lt-640 .record-control {
  top: 200px !important;
  left: 50% !important;
  width: 250px !important;
  margin-left: -125px !important;
  height: 250px !important; }
  html.lt-640 .record-control .label.sc-label-view {
    width: 147px !important;
    margin-left: -73px !important; }
  html.lt-640 .record-control .record-button {
    width: 170px !important;
    height: 170px !important;
    margin-left: -85px !important; }
    html.lt-640 .record-control .record-button .control-button {
      width: 160px !important;
      height: 150px !important;
      border-radius: 50% !important;
      background-size: 110% !important;
      background-position-x: -10px !important;
      background-position-y: -10px !important; }
html.lt-640 .video-display {
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  height: 200px !important; }
  html.lt-640 .video-display .sc-view.video-window {
    display: none; }
  html.lt-640 .video-display .sc-view.bottom-controls {
    top: 0 !important; }
    html.lt-640 .video-display .sc-view.bottom-controls .course-selector {
      position: fixed !important;
      left: -106px !important;
      margin-left: 50% !important;
      top: 80% !important; }
  html.lt-640 .video-display .sc-view.timecode-counter {
    top: 10px !important;
    left: 10px !important;
    right: 10px !important;
    margin: 0 !important;
    width: inherit !important;
    background: #92a091;
    border-radius: 10px;
    border-color: #3d3d3d;
    border-width: 1px;
    -moz-box-shadow: 0 0 5px black inset;
    -webkit-box-shadow: 0 0 5px black inset;
    box-shadow: 0 0 5px black inset; }
    html.lt-640 .video-display .sc-view.timecode-counter .sc-view.sc-label-view.sc-regular-size {
      font-family: Helvetica, Arial;
      font-size: 48px;
      color: black;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
      text-align: center;
      line-height: 80px; }
