slinky_depends("scripts/templates/device_configure.mustache")
slinky_depends("scripts/templates/general_configure.mustache")
slinky_depends("scripts/templates/driver_options.mustache")
slinky_depends("scripts/templates/source_configure.mustache")
slinky_depends("scripts/templates/action_configure.mustache")
slinky_depends("scripts/templates/configure_list.mustache")
!!!5

%html
  %head
    %title cmdr Web
    %script{:src => "scripts/vendor/jquery-1.7.js"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}
    slinky_styles

    - Dir.glob("./scripts/templates/*.mustache") do |f|
      - name = File.basename(f).split(".")[0..-2].join(".")
      %script{:id => name, :type => "text/x-handlebars-template"}= File.read(f)
  %body
    #top-bar
      #tab-bar
        .search
          %input{:type => "search", :id => "room-search", :placeholder => "Search a room"}
        %ul.tab-view
          %li#control-button.tab-button
            %a.label{:href => "#control"}
              %i.fa.fa-magic
              control
          -# %li#monitor-button.tab-button
          -#   %a.label{:href => "#monitor"}
          -#     %i.fa.fa-desktop
          -#     monitor
          %li#configure-button.tab-button
            %a.label{:href => "#configure"}
              %i.fa.fa-gear
              configure
    #main-view
      #control.subview
      #monitor.subview
      #configure.subview

    slinky_scripts