<div id="configure-view">
  <div class="left-pane scroll">
  </div>
  <div class="main-pane scroll">
    <div class="tab-view">
      <ul id="configure-tabs">
        {{#tabs}}
          <li class="tab-button {{this}}-tab"><a class="label" href="javascript:">{{this}}</a></li>
        {{/tabs}}
      </ul>
    </div>
    <div id="configure-content">
    </div>
  </div>
</div>
