<ul>
  {{#devices}}
    <li class="device" id="{{id}}">
      <h3>{{name}}</h3>
      <dl>
        {{#vars}}
          <dt>{{titleize name}}</dt> 
          <dd>{{falsey state}}</dd>
        {{/vars}}
      </dl>
    </li>
  {{/devices}}
</ul>
