<h1>{{name}}</h1>

<div class="vars">
  {{#vars}}
    <h2>{{titleize name}}</h2>
    <div class="control" id="var-{{name}}">
      {{#if _type.boolean}}
        <a href="javascript:" class="button off">off</a>
        <a href="javascript:" class="button on">on</a>
      {{/if}}
      {{#if _type.percentage}}
        <input type="range" min="0" max="1" step="0.01">
      {{/if}}
      {{#if _type.option}}
        <select>
          {{#options}}
            <option value="{{this}}">{{this}}</option>
          {{/options}}
        </select>
      {{/if}}
    </div>
  {{/vars}}
</div>
