<div id="device-configure">
  <div class="device-list scroll">
  </div>
  <div class="configure-form">
    <form>
      <div class="field">
        <label>name</label>
        <input type="text" name="name">
      </div>
      <div class="field">
        <label>type</label>
        <select name="type">
          {{#types}}
            <option value="{{this}}">{{this}}</option>
          {{/types}}
        </select>
      </div>
      <div class="field">
        <label>driver</label>
        <select name="driver">
        </select>
      </div>
      <div class="options">
      </div>
    </form>
  </div>
</div>
