<div id="device-configure">
  <div class="device-list scroll">
  </div>
  <div class="configure-form">
    <form>
      <div class="field">
        <label>name</label>
        <input type="text" name="name">
      </div>
      <div class="field">
        <label>port</label>
        <select name="port"></select>
      </div>
      <div class="field">
        <label>type</label>
        <select name="port"></select>
      </div>
      <div class="field">
        <label>driver</label>
        <select name="driver"></select>
      </div>
    </form>
  </div>
</div>
