<div id="source-configure">
  <div class="source-list scroll">
  </div>
  <div class="configure-form">
    <form>
      <div class="field">
        <label>name</label>
        <input type="text" name="name">
      </div>
      <div class="field">
        <label>icon</label>
      </div>
    </form>
  </div>
</div>
