<div id="source-configure">
  <div class="device-list scroll">
  </div>
  <div class="configure-form">
    <form>
      <div class="field">
        <label>name</label>
        <input type="text" name="name">
      </div>
      <div class="field">
        <label>switcher input</label>
        <input type="text" name="switcher">
      </div>
      <div class="field">
        <label>projector input</label>
        <input type="text" name="projector">
      </div>
    </form>
  </div>
</div>
