<div id="action-configure">
  <div class="action-list scroll">
  </div>
  <div class="configure-form">
    <form>
      <div class="field">
        <label>name</label>
        <input type="text" name="name">
      </div>
      <div class="field">
        <label>Prompt Projector</label>
        <input type="checkbox" name="prompt projector">
      </div>
    </form>
    <div class="button">
      <div class="button save-button"><div class="label">i class="fa fa-floppy-o"></i> Save</div></div>
      <div class="button cancel-button"><div class="label">i class="fa fa-times"></i> Cancel</div></div>
    </div>
  </div>
</div>
