<div class="configure-list">
  <ul>
    {{#items}}
      <li class="item"><a href="javascript:" id="{{id}}">{{name}}</a></li>
    {{/items}}
  </ul>
  <div class="add-rem-buttons">
    <div class="button add-button"><div class="label">+</div></div>
    <div class="button rem-button"><div class="label">&ndash;</div></div>
  </div>
</div>
