<div id="source-configure">
  <div class="source-list scroll">
  </div>
  <div class="configure-form">
    <form>
      <div class="field">
        <label>name</label>
        <input type="text" name="name">
      </div>
      <div class="field">
        <label>Switcher Input</label>
        <select name="switcher input">
        </select>
      </div>
      <div class="field">
        <label>Projector Input</label>
        <select name="projector input">
        </select>
      </div>
    </form>
    <div class="button">
      <div class="button save-button"><div class="label"><i class="fa fa-floppy-o"></i> Save</div></div>
      <div class="button cancel-button"><div class="label"><i class="fa fa-times"></i> Cancel</div></div>
    </div>
  </div>
</div>
